html {
 background-image: url("../../img/fondo.gif");
   /* background-repeat: no-repeat; */
  background-color: #000;
  /* opacity: .7; */
  }
  body {   
    font-family: tahoma;
    color: #fff;
}
.wrapper {
  padding-top: 5%;
  margin: 0 auto;
  max-width: 1000px;  
}
.logoContainer{
  width: 40%;
  margin: 0 auto;
}
.logoContainer img{
width: 100%;
}

.buttonDash, button {
  border: 1px dashed #fff;
  padding: 0.7% 2%;
  border-radius: 50px;
  background-color: transparent;
  color: #fff;
  margin-right: 1%;
  cursor: pointer;
  float: right;
  margin-bottom: 2%;
  text-decoration: none; 
}
.buttonDash:hover , button:hover{
  border-style: solid;
  border-color:#fbb803;
  color: #fbb803;
  -webkit-transition: all 700ms ease;
  -o-transition: all 700ms ease;
  transition: all 700ms ease;
  padding: 0.7% 2%;
  border-radius: 50px;
}
.botonAmarillo{
  position: relative;
  top: 15px;
  border: 1px dashed #fbb803;
  color: #fbb803;
}
.botonAmarillo:hover{
  border-style: solid;
  border-color:#fff;
  color: #fff;
  -webkit-transition: all 700ms ease;
  -o-transition: all 700ms ease;
  transition: all 700ms ease;
  padding: 0.7% 2%;
  border-radius: 50px;
}
.integrantes{
  height: 90px;
  position: relative;
/*  top: 100%;
  left: 13%;*/
}

.btnRegresar{
  position: absolute;
/*  top: 100%;
  left: 13%;*/
}

.perfil{
  width: 960px;
    height:480px;
    position: relative;
    left: 15%;     
}
.perfil h1{
    font-size: 3.83em;
    color: #fbb803;
    margin-left: 111px;    
    width: 50%;
    text-align: center;
    /*position: absolute;
    top: 24%;*/
}
.divisor{
  border-top: 1px dashed #fff;
  padding-top: 5%;
  padding-bottom: 5%;
}
noVinnetas{
  list-style:none;
}
#info h2{
    color: #fbb803;
}
#info h3{
    margin: 0;   
}
#info p{
    margin: 3%;   
}
.perfil .img{
    width: 38%;
    height: 79%;
    border-radius: 100%; 
    border: 10px solid #fbb803; 
    position: absolute;
    left: 55%;  
    top: 15%;
    overflow: hidden;
}
.mariaFoto{
    width: 367px;
    position: absolute;
    bottom: -14%;
}
.gabrielFoto{
    width: 346px;
    position: absolute;
    bottom: -12%;
}
.marcoFoto{
    width: 404px;
    position: absolute;
    bottom: -41%;
    right: -4px;
}
.juankFoto{
    width: 404px;
    position: absolute;
    right: -4px;
}
